@use '/src/styles/base/core' as *;

.authentication {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

@media screen and (max-width: $breakpoint-phone) {
  .authentication {
    background-color: $gray-800;
  }
}
