@use '/src/styles/base/core.scss' as *;

.categoryClickable {
  background-color: $background-color;
  border: $border;
  border-radius: $border-radius-base;
  max-width: 150px;
  cursor: pointer;

  p {
    color: $accent-color;
    font-size: $font-size-small;
  }

  &--selected {
    background-color: $gray-800;
    border: solid 3px $gray-700;
    border-radius: $border-radius-base;
    max-width: 150px;
    cursor: pointer;

    p {
      color: $accent-color;
      font-size: $font-size-small;
    }

  }
}