@use '/src/styles/base/core.scss' as *;

.categoryClickable {
  display: flex;
  justify-content: center;
  align-items: center;
  border: $border;
  border-radius: $border-radius-base;
  min-width: 130px;
  max-width: 130px;
  max-height: 30px;
  font-size: $font-size-small;

  cursor: pointer;
  background-color: $background-color;

  p {
    color: $accent-color;
    font-size: $font-size-small;
  }

  &--selected {
    background-color: $gray-800;
    border: solid 2px $gray-700;
    border-radius: $border-radius-base;
    min-width: 130px;
    max-width: 130px;
    max-height: 30px;
    cursor: pointer;

    p {
      color: $accent-color;
      font-size: $font-size-small;
    }

  }
}