@use '/src/styles/base/core.scss' as *;

.lists__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $margin-base;
  gap: $gap-base;

  .header-btn {
    margin-bottom: $margin-base;
  }

}
