@use '/src/styles/base/core.scss' as *;

.lists__header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: $border;
  margin-bottom: $margin-base;
  gap: $gap-base;

  .header-btn {
    width: 33.33vw;
    min-width: 100px;
    max-width: 400px;
    box-sizing: border-box;
    margin-bottom: $margin-base;
  }

}
