@use '/src/styles/base/core.scss' as *;

.createShoppingList {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $background-color;
  padding: 20px;
  border: $border;
  border-radius: $border-radius-medium;
  width: 90vw;
  max-width: 400px;
  min-width: 280px;
  height: 75vh;
  max-height: 90vh;


  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__fields {
      display: flex;
      flex-direction: column;
      gap: $small-gap;
      color: $accent-color;


      &__sharing {
        display: flex;
        flex-direction: column;
        gap: $small-gap;

        &--record {
          display: flex;
          flex-direction: row;
          gap: $small-gap;
        }

      }

      h3 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }


    &__buttons {
      display: flex;
      flex-direction: column;
      gap: $small-gap;

      &__navigate {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__right {
          display: flex;
          flex-direction: row;
          gap: $small-gap;
        }
      }

    }


  }
}
