@use '/src/styles/base/core.scss' as *;

.notificationRecord {
  display: flex;
  border: $border;
  border-color: #90c4f9;
  &__content {
    display: flex;

    &__checkbox {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
    }

  }

}

