@use '/src/styles/base/core.scss' as *;

.profile {
  display: flex;
  flex-wrap: wrap;
  gap: $gap-base;

  &__user {
    flex: 1;
    min-width: 300px;
  }
  &__goals {
    flex: 1;
    min-width: 300px;
  }
  &__settings {
    flex: 1;
    min-width: 300px;
  }
}
