@use '/src/styles/base/core.scss' as *;

.itemList {

  &__content {
    display: flex;
    flex-direction: column;
    gap: $small-gap;
    margin: $margin-base;

    &__manage {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 58px;

      h3 {
        font-weight: normal;
        font-family: $font-family-primary;
        color: $accent-color;
      }
    }

    &__confirm-delete {
      background-color: $background-color;
      color: $accent-color;
      border: $border;
      border-radius: $border-radius-base;
      padding: $padding-base;
    }

  }

}
