@use '/src/styles/base/core.scss' as *;

.home {
  &__date {
    color: $accent-color;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: $small-gap;
    height: 80vh;
    align-items: stretch;

  }
}
