@use '/src/styles/base/core.scss' as *;

.navbar {
  background-color: $secondary-color;

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: $small-gap;
    border-bottom: $border;

    &--settings {
      display: none;
    }
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .navbar {
    &__list {
      &--home h4 {
        display: none;
      }
    }
  }
}
@media screen and (min-width: $breakpoint-phone) {
  .navbar {
    &__list {
      &--lists {
        display: none;
      }

      &--tasks {
        display: none;
      }

      &--settings {
        display: none;
      }

      &--notes {
        display: none;
      }
    }
  }
}
