@use '/src/styles/base/core.scss' as *;

.edit-tag-list {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-self: center;

  &__content {
    width: 350px;
    padding: 1rem;
    background-color: $secondary-color;
    border-radius: $border-radius-base;
    align-self: center;
    display: flex;
    flex-direction: column;

    &--title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &--list {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
