@use '/src/styles/base/core.scss' as *;

.newBucketList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding-base;
  border: 2px dashed $secondary-color;
  border-radius: $border-radius-base;
  height: 40px;

  &__content {
    display: flex;
    gap: $gap-base;
    color: $accent-color;
  }

  &:hover {
    background-color: $gray-800;
    cursor: pointer;
  }
}
