@use '/src/styles/base/core.scss' as *;

.shopping-list-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $background-color;
  padding: 20px;
  border: $border;
  border-radius: $border-radius-medium;
  width: 90vw;
  max-width: 400px;
  min-width: 280px;
  height: 85vh;
  max-height: 90vh;


  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__fields {
      display: flex;
      flex-direction: column;
      gap: $small-gap;
      color: $accent-color;

      h3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      p {
        margin-bottom: $margin-base;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      gap: $medium-gap;

      &__firstRow {
        button,
        .MuiButton-root {
          color: #e20d0d !important;
          border: solid 1px #e20d0d;
        }
      }

      &__secondRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__right {
          display: flex;
          flex-direction: row;
          gap: $small-gap;
        }
      }

    }
  }
}
