@use '/src/styles/base/core.scss' as *;

.taskItem {
  background-color: $background-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-base;
  border: $border;
  border-radius: $border-radius-base;

  &__main {
    display: flex;
    flex-direction: row;
    color: $accent-color;

    &--title {
      color: $accent-color;
    }
  }

  &__icons {
    display: flex;
    text-align: center;
    align-items: center;
  }
}

.pomodoros-count {
  padding: $padding-base;
  border-radius: $border-radius-base;
  background-color: $background-color;
  display: flex;
  align-items: center;
  gap: $gap-base;
  color: $accent-color;

  &:hover {
    cursor: pointer;
    background-color: $secondary-color;
  }
}

@media (max-width: $breakpoint-tablet) {
  .taskItem {
    &__title {
      &--icon {
        display: none;
      }
    }
  }
}
