@use '/src/styles/base/core.scss' as *;

.item {
  background-color: $background-color;
  color: $accent-color;
  padding: $padding-base;
  border: $border;
  border-radius: $border-radius-base;
  height: 40px;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;


    &__fields {
      display: flex;
      gap: $small-gap;
    }
  }

}