@use '/src/styles/base/core' as *;

.newTaskItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding-base;
  border: 2px dashed $secondary-color;
  border-radius: $border-radius-base;
  height: 69px;

  &__content {
    display: flex;
    gap: $gap-base;
    color: $accent-color;
  }
}

.newTaskItem:hover {
  background-color: $gray-800;
  cursor: pointer;
}
