@use '/src/styles/base/core.scss' as *;

.deleteItem-bucket {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $background-color;
  padding: 20px;
  border: $border;
  border-radius: $border-radius-medium;
  width: 90vw;
  max-width: 400px;
  min-width: 280px;
  height: 15vh;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__content {
    display: flex;
    flex-direction: column;
    gap: $medium-gap;

    h3 {
      display: flex;
      justify-content: center;
      color: $accent-color;
    }

    .MuiFormControlLabel-label {
      color: $accent-color;
      margin-left: $margin-base;
    }

    &__fields {
      display: flex;
      flex-direction: column;
      gap: $medium-gap;

      &__expense {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: $gap-base;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

}