@use '/src/styles/base/core.scss' as *;

.tasks {
  display: flex;
  flex-direction: column;
  padding: $padding-base;

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $gap-base;
    width: 100%;

    &--tasks {
      flex-grow: 7;
      flex-shrink: 0;
      flex-basis: 0;
      gap: $small-gap;
      padding-top: $padding-base;
      &-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h2 {
          align-self: end;
          color: $accent-color;
        }
      }
    }

    &--tags {
      flex-grow: 3;
      flex-shrink: 0;
      flex-basis: 0;
      gap: $small-gap;
    }
  }
}