@use '/src/styles/base/core.scss' as *;

.tasks {
  display: flex;
  flex-direction: column;
  gap: $gap-base;

  &__tasks {
    flex-grow: 1;
    gap: $small-gap;
    margin: $margin-base 0;

    &--header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      h2 {
        align-self: end;
      }
    }
  }

  &__tags {
    flex-grow: 1;
    gap: $small-gap;
    margin: $margin-base 0;
  }
}
@media screen and (min-width: $breakpoint-tablet) {
  .tasks {
    padding: 0 40px;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .tasks {
    padding: 0 240px;
  }
}