@use '/src/styles/base/core.scss' as *;

.clock {
  margin-top: 1rem;
  display: flex;
  justify-content: center;

  &__time {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-color;
    padding: $padding-base 100px;
    border-radius: $border-radius-base;
    font-family: $font-family-secondary;
    font-size: $font-size-large;
    margin-bottom: $medium-gap;
  }
}
