@use '/src/styles/base/core.scss' as *;

.add-new-task {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 350px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    border-radius: $border-radius-base;
    gap: $gap-base;
    margin: 0 auto;

    h2 {
        color: $accent-color;
        text-align: center;
    }

    &--pomodoro-duration {
      display: flex;
      flex-wrap: wrap;
      gap: $gap-base;
    }

    &--pomodoro-quantity {
      display: flex;
      gap: $gap-base;
    }
    &--buttons {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;

      &_right {
        display: flex;
        flex-direction: row;
        gap: $gap-base;
      }
    }
  }
}
