@use '/src/styles/base/core.scss' as *;

.intro {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: row;

    &__calendar {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }

    &__quote {
      display: flex;
      margin-top: $margin-base * 2;
    }

  }

}