@use '/src/styles/base/core.scss' as *;

.categoryClickable {
  padding: $padding-base;
  cursor: pointer;
  background-color: $background-color;
  border-radius: $border-radius-base;
  border: $border;
  min-width: 128px;
  max-width: 128px;
  height: 38px;

  p {
    max-width: 60px;
    color: $accent-color;
    text-overflow-ellipsis: true;
  }

  &--selected {
    border: solid 2px $accent-color;
    border-radius: $border-radius-base;
    cursor: pointer;
    min-width: 128px;
    max-width: 128px;
    height: 38px;

    p {
      color: $accent-color;
    }
  }
}