@use '/src/styles/base/core.scss' as *;

.newGoalItem {
  background-color: $background-color;
  color: $accent-color;
  padding: $padding-base;
  border: dashed 1px $gray-700;;
  border-radius: $border-radius-base;
  height: 40px;
  display: flex;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: $small-gap;
    width: 100%;

    &--inputs {
      display: flex;
      gap: $small-gap;
    }

  }

}