@use '/src/styles/base/core.scss' as *;

.categoryListClickable {
  display: flex;
  flex-direction: row;
  gap: $small-gap;
  margin-left: $margin-base;
  overflow-x: auto;
  padding-bottom: $padding-base;
  max-width: 1370px;

  &::-webkit-scrollbar {
    height: 5px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $accent-color;
    border-radius: $border-radius-medium;
  }
}