@use '/src/styles/base/core' as *;

.sign {
  &__content {
    background-color: $secondary-color;
    border-radius: $border-radius-base;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: $gap-base;

    &--inputs {
      display: flex;
      flex-direction: column;
      gap: $gap-base;
    }
    &--text {
      display: flex;
      flex-direction: column;
      gap: $gap-base;
      &-sign {
        color: $accent-color;
      }
      &-sign:hover {
        cursor: pointer;
      }

      &-guest:hover {
        cursor: pointer;
      }
    }
  }

  &__text {
    text-align: center;
    margin-bottom: $padding-base;
    h2 {
      color: $accent-color;
    }
    p {
        color: $text-color;
    }
  }
}
