@forward './variables';
@use './variables' as *;

* {
  margin: 0;
  padding: 0;
}

body {
  max-height: 100dvh;
  min-width: $breakpoint-small-phone;
  background-color: $background-color;
  color: $text-color;
  font-family: $font-family-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-base;
}

button,
.btn {
  background-color: $gray-800;
  color: $accent-color;
  border: $border;
  border-radius: $border-radius-medium;
  padding: $padding-base;
  font-weight: normal;
  margin: 1px;
  border: none;
  transition: filter $transition-duration-base $transition-easing-base;

  &:hover {
    background-color: $gray-700;
    cursor: pointer;
    filter: brightness(85%);
  }
}